@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

.loader-container {
    font-family: 'Bruno Ace', "Goldman", "Bebas Neue", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(183deg, rgb(0, 0, 0) 0%, rgba(47, 0, 135, 1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.loader {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

.loader-text {
    color: white;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}